<% if (title) { %>
    <h1><%= title %></h1>
    <% } else { res.redirect('/') } %> <%- messages() %> <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>

    <div class="form-card">
      <fieldset id="fielset">
      <form id="edit-account-form" action="/account/edit-account" method="post">
        <p>*All fields are required</p>
        <label
          >First Name:
          <input
            type="text"
            name="account_firstname"
            class="form-input"
            required
            value="<%= locals.account_firstname %>">
      </label
    ><br>
        <label
          >Last Name:
          <input
            type="text"
            name="account_lastname"
            class="form-input"
            required
            value="<%= locals.account_lastname %>">
    </label
    ><br>
        <label
          >Email:
          <input
            type="email"
            name="account_email"
            class="form-input"
            required
            placeholder="Enter a valid email address"
            value="<%= locals.account_email %>">
    </label>
        
        <input
          type="submit"
          value="Update"
          class="form-button"
          title="Click here to submit registration">
        <input type="hidden" name="account_id" 
        <% if(locals.account_id) { %> value="<%= locals.account_id %> " <% } %>>
      </form>
      <hr>
      <form id="password-form" action="/account/edit-password" method="post">
        <h2>Update Password</h2>
        <p>*Your initial password will be updated or replaced with a new one.</p>
      <label
          >Password:
          <input
            type="password"
            name="account_password"
            class="form-input"
            required
            pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
            > </label
            ><br>
            <div class="validation-note">
              <p>Passwords must be min 12 characters in length, 
                 contain at least 1 capital letter, contain at least 1 number,
                 and contain at least 1 special character
              </p>
            </div>
        <input
          type="submit"
          value="Change Password"
          class="form-button"
          title="Click here to change password"
        >
        <input type="hidden" name="account_id" 
        <% if(locals.account_id) { %> value="<%= locals.account_id %> " <% } %>>
      </fieldset>
      </form>
    </div>