<% if (title) { %>
  <h1><%= title %></h1>
  <% } else { res.redirect('/') } %> <%- messages() %> <% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
  </ul>
  <% } %>
  
  <div class="mgmt-card">
    <h2 class="mgmt-header">Welcome <%= locals.accountData.account_firstname %></h2>
    <!-- <p class="mgmt-text">You're logged in.</p> -->
    <div class="mgmt">
      <a class="form-button acct-link" href="/account/edit/<%= locals.accountData.account_id %>">Edit Account Information</a>
      
      <!-- <h3 id="acct-inv-header">Inventory Management</h3> -->
      <% if (locals.loggedin) {
        if (locals.accountData.account_type === "Employee" || locals.accountData.account_type === "Admin") { %>
          <a class="form-button acct-link" href="/inv">Manage Inventory</a> 
        <% } 
      } %>

    </div>

    <div id="my-reviews-section">
      <h2 id="my-reviews-header">Personal Reviews</h2>
      
      <%- reviews %>
  
    </div>
  </div>  
