<% if (title) { %>
    <h1><%= title %></h1>
    <% } else { res.redirect('/') } %> <%- messages() %> <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>
    
    <div class="form-card">
        <fieldset id="fielset">
        <form id="edit-review-form" action="/review/edit-review" method="post">
            <label>Review Date: 
                <input type="text" 
                  name="review_date" 
                  class="form-input" 
                  readonly
                  value="<%- review_date %>"
                >
              </label>
              <label>Review:
                <textarea name="review_text" 
                  class="form-input" 
                  required
                  minlength="10" 
                  placeholder="Write your review..."
                  ><%= review_text %></textarea>
              </label>
              <input type="submit" value="Update Review" class="form-button"
                title="Click here to submit your updated review" id="update-review-btn">
              
              <input type="hidden" name="review_id" value="<%- review_id %>">
        </fieldset>
        </form>
    </div>